{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/subs-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Stupid Purchases List</h1>
</section>

<section class="card-container">
  {% for purchase in purchases %}
    <div class="card">
      <a href="/purchases/{{ purchase.id }}">
        <div class="card-content">
          <div class="card-img-container">
            <img src="" alt="itemImage">
          </div>
          <h2 class="card-title">{{ purchase.name }}</h2>
      </a>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}  