{% extends 'base.html' %}
{% load static %}

{% block head %}
  {% comment %} Link CSS file {% endcomment %}
  <script src="{% static 'js/investment-calculator.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}

{% block content %}

    {% comment %} Calculator Container {% endcomment %}
    <div class="flex flex-row m-5 mx-40 bg-gray-200 text-base rounded-xl items-center justify-center">
      {% comment %}Simple Calculator  {% endcomment %}
      <div class="container mx-auto max-w-md shadow-xl hover:shadow-lg m-5">
      <div class="py-12 p-10 bg-white rounded-xl">
        <div class="mb-3">
          <label class="mr-4 text-gray-700 font-bold inline-block mb-2" for="name">Principal</label>
          <input type="text" class="border bg-gray-100 py-2 px-4 w-96 outline-none focus:ring-2 focus:ring-indigo-400 rounded" id="principalSimple"  placeholder="Amount" value="{{yearly_price}}"/>
        </div>
        <div class="mb-3">
          <label class="mr-4 text-gray-700 font-bold inline-block mb-2" for="name">Interest Rate</label>
          <input type="text" class="border bg-gray-100 py-2 px-4 w-96 outline-none focus:ring-2 focus:ring-indigo-400 rounded" id="interestSimple" placeholder="Example: 12%" />
        </div>
        <div class="mb-3">
          <label class="mr-4 text-gray-700 font-bold inline-block mb-2" for="name">Length of Time</label>
          <input type="text" class="border bg-gray-100 py-2 px-4 w-96 outline-none focus:ring-2 focus:ring-indigo-400 rounded" id="termSimple" placeholder="Years"/>
        </div>
        <button class="w-full mt-6 text-indigo-50 font-bold bg-indigo-600 py-3 rounded-md hover:bg-indigo-500 transition duration-300" id="btnSimple" onClick="simpleInterest()">Submit</button>
      </div>
    </div>
      {% comment %} Compound Calculator {% endcomment %}
    <div class="container mx-auto max-w-md shadow-xl hover:shadow-lg m-5">
      <div class="py-12 p-10 bg-white rounded-xl">
        <div class="mb-3">
          <label class="mr-4 text-gray-700 font-bold inline-block mb-2" for="name">Principal</label>
          <input type="text" class="border bg-gray-100 py-2 px-4 w-96 outline-none focus:ring-2 focus:ring-indigo-400 rounded" id="principalCompound" placeholder="Enter amount without dollar sign" value="{{yearly_price}}"/>
        </div>
        <div class="mb-3">
          <label class="mr-4 text-gray-700 font-bold inline-block mb-2" for="name">Interest Rate</label>
          <input type="text" class="border bg-gray-100 py-2 px-4 w-96 outline-none focus:ring-2 focus:ring-indigo-400 rounded"  id="interestCompound" placeholder="Example: 12%"/>
        </div>
        <div class="mb-3">
          <label class="mr-4 text-gray-700 font-bold inline-block mb-2" for="name">Times Compounded Per Year</label>
          <input type="text" class="border bg-gray-100 py-2 px-4 w-96 outline-none focus:ring-2 focus:ring-indigo-400 rounded"  id="timesCompounded" placeholder="2 (semi-annually)">
        </div>
        <div class="mb-3">
          <label class="mr-4 text-gray-700 font-bold inline-block mb-2" for="name">Term of Loan</label>
          <input type="text" class="border bg-gray-100 py-2 px-4 w-96 outline-none focus:ring-2 focus:ring-indigo-400 rounded" id="termCompound" placeholder="Years"/>
        </div>
        <button class="w-full mt-6 text-indigo-50 font-bold bg-indigo-600 py-3 rounded-md hover:bg-indigo-500 transition duration-300" id="btnCompound" onclick="compoundInterest()">Submit</button>
      </div>
    </div>

  </div>

  <div>
    {% comment %} Investment Header {% endcomment %}
    <div class="flex flex-col shadow-2xl rounded-xl mx-40 bg-gray-50 m-5 text-3xl items-center align-center">
      <h2 >Total Amount Spent Yearly: ${{yearly_price}}</h2>
      <h1 id="totalInvestmentHeader">Total investment over the course of ___ Years: $___</h1>
    </div>
    {% comment %} Canvas Div {% endcomment %}
    <div class="bg-white shadow-2xl rounded-xl m-20 p-5">
      <canvas id="myChart" width="380" height="200"></canvas>
    </div>
    <script>
      //Placeholder chart for populating page
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: ['1', '2', '3', '4', '5'],
              datasets: [{
                  label: 'Investment Over Time',
                  backgroundColor: 'rgb(0,214,75, 0.2)',
                  data: [],
                  fill: true,
                  borderColor: 'rgb(0,214,75)',
                  tension: 0.1,
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true,
                  }
              }
          }
      });
    </script>
  </div>
{% endblock %}