{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="">
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

  <title>This Is Why You're Broke</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="/">
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="{% url 'subs_index' %}">All Subs</a></li>
        <li><a href="{% url 'subs_create' %}">Add Subs</a></li>
        <li><a href="{% url 'purchases_index' %}">All Stupid Purchases</a></li>
        <li><a href="{% url 'purchase_create' %}">Add Stupid Purchase</a></li>
        <li><a href="{% url 'premiumcontent' %}">Premium Content</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>