{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

  <div class="">
    <h1>"If you don't find a way to make money while you sleep, you will work until you die."</h1><br>
    <h2 style="text-align:right">-Warren Buffett</h2>
  </div>

<section>
  <form action="{% url 'home' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn submit">Login</button>
  </form>
</section>

{% endblock %} 