{% extends 'base.html' %}

{% block content %}

<div class="min-w-screen min-h-screen flex items-center justify-center px-5 py-5">
  <div class="flex flex-col items-center justify-center m-5">
        <div class="w-full mx-auto rounded-lg bg-white shadow-lg px-5 pt-5 pb-10 text-gray-800" style="max-width: 500px">
          <div class="w-full">
              <div class="text-3xl text-indigo-500 text-left leading-tight h-3">“</div>
              <p class="text-3xl text-gray-600 text-center px-5">Why would you come here? Have you learned nothing? You must like spending money...</p>
              <div class="text-3xl text-indigo-500 text-right leading-tight h-3 -mt-3">”</div>
          </div>
      </div>
  </div>
</div>

{% endblock content %}