{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/subs-index.css' %}"/>
{% endblock %}

{% block content %}


<div class="flex flex-col items-center justify-center">
  <section class="page-header">
    <h1>Subscriptions List</h1>
  </section>
    <h2>Yearly Expenses: ${{yearly_price}}</h2>
    <h2>Monthly Expenses: ${{monthly_price}}</h2>
  <div class="flex flex-col w-1/2">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-lg font-medium text-gray-500 uppercase tracking-wider">
                  Subscription Service
                </th>
                <th scope="col" class="px-6 py-3 text-left text-lg font-medium text-gray-500 uppercase tracking-wider">
                  Price
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              {% for sub in subs %}
                <tr>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <a href="{% url 'subs_detail' sub.id %}">
                      <div class="flex items-center">
                        <div class="flex-shrink-0 h-10 w-10">
                          <img class="h-50 w-50 " src="{% static sub.image %}" alt="">
                        </div>
                        <div class="ml-4">
                          <div class="text-lg font-medium text-gray-900">
                            {{sub.name}}
                          </div>
                        </div>
                      </div>
                    </a>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-lg text-gray-900">{{sub.price}}</div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <a href="{% url 'investment_index' %}" class="bg-indigo-700 hover:bg-indigo-400 text-white font-bold py-2 px-4 rounded m-6">See Investment</a>
</div>
{% endblock %}