{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/subs-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Subscriptions List</h1>
</section>
  <h2>Total Amount Spent: ${{total_price}}</h2>

<section class="card-container">
  {% for sub in subs %}
    <div class="card">
      <a href="/subs/{{ sub.id }}">
        <div class="card-content">
          <div class="card-img-container">
            <img class="subLogo" src="{% static sub.image %}" alt="SubLogo">
          </div>
          <h2 class="card-title">{{ sub.name }}</h2>
          <h3>${{ sub.price }} a month</h3>
      </a>
    </div>
      </div>
  {% endfor %}
</section>

  <a href="{% url 'investment_index' %}" class="btn dark">See Investment</a>
{% endblock %}